<div class="container">
  <div class="row">
    <div class="col-md-3"><br/>
      <div id="button-all-contacts"><button class="btn btn-primary">List All Contacts</button></div><br/>
      <div id="showdata"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h2>Add a new contact</h2>
      <form id="new-contact" method="POST" action="/">
        <div class="form-group">
          <input type="text" class="form-control" name="first_name" placeholder="Enter first name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="last_name" placeholder="Enter last name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="phone" placeholder="Enter phone number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
    <h2>Search by ID</h2>
      <form id="search-form" class="form-inline">
        <div class="form-group">
          <label class="sr-only">ID</label>
          <input type="text" name="id-search" class="form-control" placeholder="Enter ID">
        </div>
        <button type="submit" class="btn btn-primary">Search</button><br/><br/>
        <div id="search-result"></div>
      </form>
    </div>
  </div>
</div>


